h1{
    border-bottom: solid blue;
}
.HTML{
    border-bottom:solid red;
}
.Css{
    border-bottom: solid blue;
} 
.JS{
    border-bottom: solid yellow;
}
h2{
    background-color: rgb(223, 237, 223);
}
h2+p{
    padding: 10px 15px 15px 5px;
    color:blueviolet;
}
.Kuhu{
    color:brown;
}
.Kusin{
    color:chartreuse;
}
.Kyou{
    color:cornflowerblue
}
.Kansou{
    color:fuchsia;
}